/* nejsme vcerejsi, pouzivame moderni box model */
html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  font-size: 14px;
}

/* ---------------------------------------------------- */
h1,
h2,
p {
  text-align: center;
}

.osoba {
  padding: 15px;
  margin: 5px;
  border: 2px solid rgb(196, 191, 191);
  border-radius: 2px;
}

img {
  border-radius: 50%;
}

/*Mobily:*/
@media screen and (min-width: 0px) and (max-width: 540px) {
  .foto {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/*Tablety:*/
@media screen and (min-width: 540px) and (max-width: 960px) {
  .tym {
    display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
  

  .osoba {
    display: flex;
    flex-basis: calc(50% - 10px);
    align-items: flex-start;
  }

  img {
    width: 70px;
  }
	
	p, 
	h2 {
		text-align: left;
		margin-left: 30px;
	}

	p {
		margin-bottom: 0;
	}

}
/*PC:*/
@media screen and (min-width: 960px) {
	.tym {
		display: flex;
		}
	.osoba {
		flex: 1 1 300px;
		
	}

	.foto {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}